.wrap-contact{
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid #fff;

    .wrap-contact-info{
        flex:1;
        display: flex;
        flex-direction: column;
        line-height: 1.3;
    }

    .wrap-buttons{
        font-size: 15px;
        .button{
            width: 52px;
            height: 24px;
            border: 1px solid var(--black);
            display: inline-block;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background-color: #fff;
            font-weight: 400;
            box-sizing: border-box;
            color: var(--black);
            margin-bottom: 6px;
            cursor: pointer;
        }
        
    }
}